@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


.underline-animation:after {
    display:block;
    content: '';
    border-bottom: solid 3px #3b82f6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.underline-animation:hover:after { transform: scaleX(1); }

.monoton-regular {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.glowing-text {
  text-shadow: 
    0 0 2px rgba(255, 255, 255, 0.5), 
    0 0 5px rgba(255, 255, 255, 0.5), 
    0 0 5px rgba(255, 255, 255, 0.5);
}

.translucent {
    background-color: rgba(58, 58, 58, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 0.5rem; 
    box-shadow: 
      0 10px 15px -3px rgba(0, 0, 0, 0.1), 
      0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }



