.underline-animation:after {
    display:block;
    content: '';
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.underline-animation:hover:after { transform: scaleX(1); }
  